@model EntityLayer.Entities.Customer
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong>Müşteri</strong> Ekle
        </div>

        <div class="card-body card-block">
            <form method="post" action="/Musteri/Create" class="form-horizontal">
                @Html.AntiForgeryToken()

                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">İsim</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="Name" maxlength="25" class="form-control" ></div>
                    @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })

                </div>
         

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Ekle
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Temizle
                    </button>

                </div>
                <label style="color:red">@ViewBag.hata</label>

            </form>
        </div>
    </div>

</div>
